{% extends 'base.html.twig' %}

{% block main %}
    <h3>Здравейте,<br/>
        Казвам се Георги Събев. Създадох това интернет приложение за безплатно публикуване
        на обяви за продажба на смартфони. За целта използвах Symfony, Doctrine, Twig
        template engine, MDBootstrap и PHPStorm. В тази Уеб платформата има потребители
        с Администраторски права, които могат да създават, редактират и изтриват
        статии и продуктови категории. Също така могат да добавят снимки към слайда на
        началната страница и да дават администраторски права на други потребители.
        Проектът е качен в GitHub, може да го видите <a href="https://github.com/jorjomir/jorjslist" target="_blank">тук</a>.
    </h3>
    <h3 class="text-center">Документация</h3>
    <hr/>
    <object data="{{ asset('691.pdf') }}" type="application/pdf" width="100%" height="800px">
        <p>Няма инсталирана приставка за PDF на този браузър <a href="{{ asset('691.pdf') }}">
                натиснете тук за да изтеглите файла.</a></p>
    </object>
{% endblock %}