{% extends 'base.html.twig' %}

{% block main %}
    <h1>
        Здравей,<br/>
        Това е Администраторския панел. Моля отправете се в
        лявата странична лента, където ще откриете всички ваши
        опции като Администратор.
    </h1>
{% endblock main %}