{% extends 'base.html.twig' %}

{% block main %}
    <h1>
        Welcome,<br/>
        this is the admin panel. Please navigate to the left sidebar to
        create, edit, delete new Articles, Categories and more.

    </h1>
{% endblock main %}