{% extends 'base.html.twig' %}
{% block main %}
    <div class="well">
        <form id="createCategory" class="form-horizontal" action="{{ path('createCategory') }}" method="POST">
            <fieldset>
                <legend>Нова категория</legend>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="category_name">Име на категория</label>
                    <div class="col-sm-4 ">
                        {{ form_row(form.name) }}
                    </div>
                </div>
                {{ form_row(form._token) }}
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-primary">Изпращане</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>


{% endblock main %}