/*.navbar-fixed-bottom {
    background-color: #2c3e50;
    height: 30px;
}
.modal-footer{
    padding: 1px;
}*/
/*.modal-footer .navbar-brand{
    float: right;
    font-size: 15px;
    color: red;
}*/
.navbar-right {
    margin-right: 0;
}

#nav-2 {
    /*top: -25px;
    left: -80px;
    z-index:2;*/

    /*background:lightgray;*/

    left: 0;
    top: 60px;
    height: 100%; /* 100% Full-height */
    width: 90px; /* 0 width - change this with JavaScript */
    position: fixed;
}
#nav-2 a{
    margin-left: 5px;
    left: -50px;
    display: block;
    font-size: 17px;
    /*width: 100px;
    color: darkgray;*/
}
#dropDownCreateArticle {
    /*background-color: #ecf0f1;*/
    width: 70px;
    margin-left: -20px;
}
#nav-2 .dropdown-menu {
    min-width: 135px;
    margin-top: -10px;
    top: 80%;
}
#mainAdmin {
    left: 185px;
    top: -30px;
}
/*FIXING WHITESPACE UNDER FOOTER*/
body {
//padding-bottom: 0;

    font-size: 17px;

    /*IN ORDER TO MAKE FOOTER STAY OT BOTTOM*/
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    min-height:100vh;

}
.container {
    /*IN ORDER TO MAKE FOOTER STAY OT BOTTOM*/
    flex:1 0 auto;
    margin-bottom: 30px;

}

/*MAKING FONT SIZE ON WHOLE WEBSITE BIGGER*/
html { font-size: 130%; }

/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
.col-md-4 {
    width: 40%;

}
.col-md-offset-4 {
    /*margin-left: 110%;*/

}

/*--------------------------------All Articles-----------------------------------------------*/
.post
{
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0 0 1px #CCC;
}
.post .content
{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.post .author
{
    font-size: 11px;
    color: #737373;
    padding: 5px 0 10px;
}
.post .post-img-content
{
    height: 50px;
    position: relative;
}
.post .post-img-content img
{
    position: absolute;
}
.post .post-title
{
    display: table-cell;
    vertical-align: bottom;
    z-index: 2;
    position: relative;
}
.post .post-title b
{
    background-color: rgba(51, 51, 51, 0.58);
    display: inline-block;
    margin-bottom: 5px;
    color: #FFF;
    padding: 10px 15px;
    margin-top: 5px;
}
#articles {
    width: 50%;
    padding-bottom: 30px;
    min-height: 320px;
}
#articles h3 {
    text-align: center;
}

/*---------------------------SIDENAV----------------------------*/
.sidenav {
    margin-top: 40px;
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: #4285f4;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

#adsCategory .col-md-4 {
    width: 33%;
    margin-top: 25px;
}

#createAd .control-label {
    padding-top: 5px;
}
#createAd .form-group .col-sm-4 {
    float: unset;
}
#createArticle .col-sm-4 {
    float: none;
}
#editArticle .col-sm-4 {
    float: none;
}
#editAd .col-sm-4 {
    float: none;
}



#myAds .img-wrap {
    margin-top: 30px;
}
#myAds .border-left {
    margin-top: 30px;
}
#dropdownFixAllCategories {
    margin-top: -20px;
}
.card-product {
    min-height: 355px;
}
.info-wrap {
    padding: 10px;
}

@media (max-width: 1198px) {
    .card-product img {
        max-width: 170px;
        max-height: 132px;
    }
}
@media (min-width: 1199px) {
    .card-product img {
        max-width: 250px;
        max-height: 280px;
    }
}
#editAd .control-label {
    padding-top: 5px;
}
@media (min-width: 768px) {
    #createArticle .col-sm-4 {
        width: unset!important;
    }
    #editArticle .col-sm-4 {
        width: unset!important;
    }
}
#search-form .btn {

    display: inline;
}
/*NAVBAR FIXED PUSH BODY */
body { padding-top: 70px; }
/*.navbar-search {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}*/

#search-form .btn.btn-sm {
    padding: 10px 15px;
}
#search-form .btn {
    margin: unset;
    background-color: transparent;
    color: white;
    -webkit-box-shadow: unset;
    box-shadow: 0 0 0 0 white, 0 0 5px 0 white;
}
#search-form .btn:hover {
    box-shadow: 0 0 0 0 black, 0 0 5px 0 black;
}
#search-form {
    padding-top: 10px;
    color: white!important;
}
#search-form input {
    width: 200px;
    height: 40px;
}
/* #search-form input:focus ~ #buttonInput{
    -moz-box-shadow: 0 0 20px lightblue;
    -webkit-box-shadow: 0 0 20px lightblue;
    box-shadow: 0 0 20px lightblue;
    border-color: #ff80ff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 100, 255, 0.5);
}
*/
.panel-primary {
    border-color: #4285f4!important;
}
.panel-primary > .panel-heading {
    background-color: #4285f4!important;
}
.md-form {
    display: inline-flex;
    margin-top: unset!important;
    margin-bottom: unset!important;
}
header .md-form input[type=text]:focus:not([readonly]) {
    -webkit-box-shadow: 0 1px 0 0 black!important;
    box-shadow: 0 1px 0 0 black!important;
    border-bottom: 1px solid black!important;
}
.md-form input[type=text]::placeholder {
    color: white!important;
}

.navbar .dropdown-menu {
    min-width: 200px;
}
header .bg-primary {
    color: transparent!important;
}
.navbar a:hover {
    color: black!important;
}
#adPicture {
    text-align: center;
}
#adPicture img {
    max-height: 350px;
    max-width: 400px;
}
#adGalery [data-fancybox="images"] img {
    max-width: 150px!important;
    margin-top: 60px;
}
#adGalery [data-fancybox="images"] {
    text-align: left!important;
}
.page-footer > div{
    margin: auto;
    width: 70%;
}

/*-------------------------MOBILE--------------------------------------------*/
/*---------------------------------------------------------------------------*/
@media (max-width: 900px) {
    .navbar-collapse {
        text-align: center;
    }
    .card {
        width: 300px;
        margin-bottom: 20px;
    }
    #adsCategory h2 {
        font-size: 25px;
    }
    .hide-on-mobile {
        display: none;
    }
    footer.page-footer .footer-copyright {
        overflow: unset;
    }
    .page-footer > div {
        width: 100%;
    }
    .footer-copyright {
        text-align: center!important;
    }
    .footer-copyright .pull-left {
        float: none!important;
        text-align: center!important;
    }
    .footer-copyright .pull-right {
        text-align: center!important;
    }
    #navbarNav #search-form {
        display: none;
    }
    .navbar-default .navbar-toggle {
        border-color: unset!important;
    }
    #navSearchButton .glyphicon-search:before {
        color:white;
    }
    #navSearchButton {
        padding: 0;
        margin-top: 18px;
    }
    #searchNav .navbar-nav {
        padding: 0;
    }
    #adPicture img {
        max-width: 280px;
    }
    .navbar-brand {
        padding: 14.5px 15px;
        font-size: 29px;
    }
    .navbar-nav .open .dropdown-menu {
        background-color: white!important;
    }
    .dropdown-content {
        display: none;
    }
    .dropdown-content a {
        color: white;
    }
    .dropdown-li {
        display: none;
    }
    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        max-height: unset;
    }
    .well img {
        max-width: 290px!important;
    }
    .panel-primary {
        margin-top: 50px;
    }
    #articles {
        width: 100%;
    }
    #articles div:last-child {
        text-align: center;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
    #qrcode img {
        display: inline-block!important;
    }
    #qrcode {
        text-align: center;
    }
    #qra {
        text-align: center;
    }
    #qra a {
        padding: 10px 10px;
    }

}

/*--------------------------DESKTOP VERSION---------------------------*/
@media (min-width: 901px) {
    #searchNav {
        display: none!important;;
    }
    .show-only-on-mobile {
        display: none!important;
    }
    header .dropdown-content {
        visibility: hidden;
        z-index: -1;
        background-color: white;
        padding-left: 10px;
        position: absolute;
        top: 57px;
        width: 170px;
        border-style: solid;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border-color: #4285f4;
        font-size: 18px;

        -webkit-transform:perspective(400) rotate3d(1,0,0,-90deg);
        -webkit-transform-origin:50% 0;
        -webkit-transition:350ms;
        -moz-transition:350ms;
        -o-transition:350ms;
        transition:350ms;

    }
    header .dropdown-li:hover > .dropdown-content, header .dropdown-li:hover > .dropdown-content > a {
        max-height:1000px;
        -webkit-transform:perspective(400) rotate3d(0,0,0,0);

        visibility: visible; /* shows sub-menu */
        opacity: 1;
        z-index: 1;
    }


    header .dropdown-content a {
        visibility: hidden;
        z-index: -1;

    }



    .sidenav a, .dropdown-btn {
        padding: 19px 8px 6px 16px;
    }

    #qrcode img {
        display: inline-block!important;
    }
    #qra {
        text-align: center;
    }
    #qra a {
        padding: 10px 10px;
    }
    #qrcode {
        border-radius: 10px;
        text-align: center;
        margin-left: 215px;

    }
    #qrcodeParent {
        text-align: right;
    }

}
/*Optimization for large displays*/
@media (min-width: 1800px) {
    .container {
        width: 1750px;
    }
}
#homeFullWidth {
    width: 100%;
    margin-top: -10px;
    margin-bottom: 20px;
    background-color: #4285f4;
    background-image: url("./Wavey-Fingerprint.svg");
    /*min-height: 100px;*/
}
#homeFullWidth h3{
    margin-top: 10px!important;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 400;
    text-shadow: 2px 2px black;
}
#form_css {
    height: 290px;
    width: 404px;
}

#contactForm .active {
    background-color: transparent!important;
    color: black!important;
}
#contactForm .md-form label {
    font-size: 18px;
    top: 0!important;
    left: 5px!important;
}
#contactForm label.active {
    font-size:.6rem;
    -webkit-transform:translateY(-110%)!important;
    -ms-transform:translateY(-110%)!important;
    transform:translateY(-110%)!important;
}
#contactForm .row {
    margin-bottom: 30px;
}
#contactForm input, #contactForm textarea {
    width: 300px!important;
}
@media only screen and (min-device-width: 901px) and (max-device-width: 1030px) {
    #search-form input {
        width: 150px!important;
    }
}

